{% extends 'base.html' %}

{%block title %} {{ post.title }} {% endblock %}

{% block content %} 

<div>
    <h1>{{ post.title }} </h1>
    
</div>

<div>
    By {{ post.user.first_name }} {{ post.user.last_name }}
</div>

<div>
    On {{ post.created_at }}
</div>

<div>
    {% if post.tags %}
    <p>
        <b>Tags:</b>
        {% for tag in post.tags %}
        <a href="/tags/{{ tag.id }}"><i class="badge badge-primary">{{ tag.name }}</i></a>
        {% endfor %}
    </p>
    {% endif %}
</div>

<div>
    {{ post.content }}
</div>


<div>
    <form>
        <button class="btn btn-warning" formaction="/posts/{{ post.id }}/edit" formmethod="GET">
            Edit
        </button>
        <button class="btn btn-danger" formaction="/posts/{{ post.id }}/delete" formmethod="POST">
            Delete
        </button>
    </form>
</div>

{% endblock %}