{% extends 'base.html' %}

{%block title %} User listing {% endblock %}

{% block content %} 
<h2>User Details</h2>
<p><img src="{{ user.image_url }}" alt=""></p>
<p>{{ user.first_name}} {{ user.last_name }}</p>

<div>
    <form>
        <button formaction="/users/{{ user.id }}/edit" formmethod="GET">
            Edit
        </button>
        <button formaction="/users/{{ user.id }}/delete" formmethod="POST">
            Delete
        </button>
    </form>
</div>

<div>
    <ul>
        {% for post in user.posts %}
        <li>
            <a href="/posts/{{ post.id }}">{{ post.title }}</a>
            <small>{{ post.created_at }}</small>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <a href="/users/{{ user.id }}/posts/new"><button>Add Post</button></a>
</div>
 
{% endblock %}